* {
  box-sizing: border-box
}

body {
  font-family: 'Roboto', sans-serif;
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
}

main {
  max-width: 960px;
  margin: 0 auto;
  min-height: calc(90vh - 5vw);
}

label {
  display: block;
  padding-bottom: 10px;
}

.hidden {
  display: none;
}

.text-report dt:after {
  content: ": ";
}

.footerGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 5vw);
  grid-gap: 10px;
}

.footerContainer {
  display: flex;
  grid-column: 3 / 5;
  grid-row: 1 / -1;
  justify-content: center;
  height: 100%;
}

.getromanLogo {
  height: 65px;
  width: 65px;
}
